<h1>About us</h1>

<p> we ar a team of college student with this new idea of social networks</p>

<h2>Why use Y</h2>

<p>with the chages in the social networks, the policies they have, we believe that we have an upper hand in this territory</p>